// COLORS:

   $main-bg: #2B2C2C;
   $secundary-bg-light: rgba(255, 255, 255, 0.15);
   $text-light: white;

   // Anchor
   $anchor-color: #FC4F4F;

   // Event editor
   $event-editor-bg: #19857A;
   $event-editor-btn: rgb(255, 177, 66);
   $event-editor-btn-hover: rgb(255, 188, 91);

   // Events colors
   $event-orange: #F79F1F;
   $event-redorange: #EE5A24;
   $event-red: #CF4247;
   $event-ruby: #ED4C67;
   $event-magenta: #D980FA;
   $event-purple: #A451EF;
   $event-blue: #4E8BFB;
   $event-azure: #51BBD3;
   $event-lime: #A3CB38;
   $event-green: #3EA561;
   $event-white: #C5C5C5;
   $event-grey: #818181;
   $event-black: #181818;