
// COLORS:

   $main-bg: #2b2c2c;
   $secundary-bg-light: rgba(255, 255, 255, 0.15);
   $secundary-bg-dark: rgba(255, 255, 255, 0.05);
   $text-light: white;
   $text: rgba(255, 255, 255, 0.75);
   // $text-main: ;
   // $text-dark: ;