// COLORS:

   $main-bg: #2B2C2C; // #2b2c2c
   $secundary-bg-light: rgba(255, 255, 255, 0.15);
   $secundary-bg-dark: rgba(255, 255, 255, 0.05);
   $text-light: white;
   $text: rgba(255, 255, 255, 0.75);
   // $text-main: ;
   // $text-dark: ;

   $event-orange: #F79F1F;
   $event-redorange: #EE5A24;
   $event-red: #CF4247;
   $event-ruby: #ED4C67;
   $event-magenta: #D980FA;
   $event-purple: #A451EF;
   $event-blue: #4E8BFB;
   $event-azure: #51BBD3;
   $event-lime: #A3CB38;
   $event-green: #3EA561;
   $event-white: #C5C5C5;
   $event-grey: #818181;
   $event-black: #181818;

// FONTS:

   // Teko - main title (600)
   // Lato - everithing else (700)